.header {
    width: 100%;
    background: #C3A57B;
    text-align: center;
 }

 .header h1 {
    padding-top: 2rem;
    font-size: 3rem;
 }

 .header img {
    margin-top: 2rem;
    width: 40vw;
    height: 25vh;
 }

 .header p {
    font-size: 2rem;
 }
